services:
  nginx:
    image: nginx:latest
    container_name: docker-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../certs/server.chained.crt:/etc/nginx/ssl/server.chained.crt
      - ../keys/server.key:/etc/nginx/ssl/server.key
      
    restart: always